{% extends 'base.html' %}
{% load static %}

{% block title %}خانه{% endblock %}

{% block content %}
<div class="container mt-4">

    <!-- بخش ۱: تصویر -->
    <section class="row align-items-center mb-5 rounded-4 shadow-sm overflow-hidden" style="min-height: 400px;">
        <a href="{% url 'expenses:expense_list' %}" class="w-100 h-100">
        <img class="w-100 h-100" src="https://open-bucket.s3.ir-thr-at1.arvanstorage.ir/banner.png?versionId=" alt="سامانه مدیریت هزینه های شخصی" style="object-fit: cover;">
        </a>
    </section>

    <!-- بخش ۲: توضیحات -->
    <section class="row align-items-center mb-5 bg-dark text-white p-5 rounded-4 shadow-sm">
        <div class="col-md-6">
            <h1 class="mb-3">💰 سامانه ثبت هزینه‌های روزانه</h1>
        </div>
        <div class="col-md-6">
            <p class="lead mb-2 text-info"><strong>مدیریت ساده و هوشمند هزینه‌های روزمره</strong></p>
            <p>
                با این سامانه می‌توانید هزینه‌های روزانه خود را ثبت، دسته‌بندی و تحلیل کنید.<br>
                نمودارهای بصری، خروجی اکسل و دسته‌بندی شخصی‌سازی‌شده از امکانات این سامانه است.
            </p>
        </div>
    </section>

    <!-- بخش ۳: باکس‌ها -->
        <section class="row mb-5 bg-light p-5 rounded-4 shadow-sm">
            <div class="col-md-4 mb-3">
                <div class="card shadow-sm h-100">
                    <div class="card-body text-center bg-info text-white rounded-3">
                        <h3>📁</h3>
                        <h5>دسته‌بندی‌ها</h5>
                        <p>ایجاد و مدیریت دسته‌بندی‌های هزینه</p>
                        <a href="{% url 'categories:category_list' %}" class="btn btn-outline-light">مشاهده</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card shadow-sm h-100">
                    <div class="card-body text-center bg-warning text-white rounded-3">
                        <h3>💰</h3>
                        <h5>هزینه‌ها</h5>
                        <p>ثبت، ویرایش و حذف هزینه‌های روزانه</p>
                        <a href="{% url 'expenses:expense_list' %}" class="btn btn-outline-light">مشاهده</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card shadow-sm h-100">
                    <div class="card-body text-center bg-danger text-white rounded-3">
                        <h3>📊</h3>
                        <h5>آمار و نمودار</h5>
                        <p>تحلیل هزینه‌ها با نمودارهای تعاملی</p>
                        <a href="{% url 'stats:stats' %}" class="btn btn-outline-light">مشاهده</a>
                    </div>
                </div>
            </div>
        </section>


</div>
{% endblock %}